export PATH="$(pwd)/scripts:$PATH"
kfc -p sexy-sexcolors

#if [[ -e "$ALACRITTY_SOCKET" ]]; then
#    pycritty -f DaddyTimeMono_Nerd_Font_Mono
#fi
BUILD_PATHS="$(find build -type d -maxdepth 1|tr '\n' ':')"
export PATH="$(pwd)/.bin:$BUILD_PATHS:$PATH"

__scc_files(){
    find \
        meson/meson.build submodules/meson.build meson.build \
        scripts \
        Makefile \
        meson_options.txt \
        */*.c -type f\
    |egrep '\.txt$|Makefile$|\.sh$|\.build$|\.h$|\.c$'\
    |egrep -v 'submodules/'\
    |sort -u\
    |tr '\n' ' '
}

__scc_report(){
    scc -v -f wide --by-file $(__scc_files)
}

__scc_report





export LDFLAGS="-L/usr/local/lib `sdl2-config --libs`"
#-L/usr/local/Cellar/sdl2/2.0.22/lib /usr/local/Cellar/sdl2_image/2.6.1/lib -lSDL2 -lSDL2_image"
export CFLAGS="-I/usr/local/include/SDL2 `sdl2-config --cflags`"
#-I/usr/local/Cellar/sdl2/2.0.22/include -I/usr/local/Cellar/sdl2_image/2.6.1/include"
