[submodule "submodules/meson_deps"]
	path = submodules/meson_deps
	url = ssh://git@github.com/binRick/meson_deps
[submodule "submodules/c_colors"]
	path = submodules/c_colors
	url = ssh://git@github.com/binRick/c_colors
