.DS_Store
.vscode/
build/
docs/
build
.attic
build
scripts/
.cache/
.nodemon.log
.venv/
etc/colornames.*
subprojects/*/*/
subprojects/*/*
subprojects/*/*/*
subprojects/*/*
subprojects/cargs
subprojects/cgif
subprojects/libspng
.attic1/
.make-log-*
.make-log-*
.DU
.make-*log*
loc.sh
o
submodules/c_deps
